@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header img{
  width:200px;
}

.header{
  padding:30px;
  background-color:rgba(255, 255, 255, 0.2);
  position:sticky;
  top:0;
}

#root{
  background:url(https://claims.deliverback.com/assets/page-header-graphic-DsaxT29p.png) no-repeat top right;
  background-position: top;
  background-position-x: right;
  background-position-y: top;
  background-size: initial;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-size:100%;
}

.mainpage {
  text-align: center;
  font-family: Commissioner, sans-serif;
  max-width:696px;
  margin:0 auto;
  padding:50px;
}

.mainpage h5{
    font-size: 20px;
    letter-spacing: -0.05px;
    line-height: 28px;
    font-weight: 400;
}

.mainpage h1{
  color:rgb(40, 59, 78);
  font-weight:800;
  font-size:36px;
}

.formfields {
  margin:0 auto;
  line-height:40px;
}

.formfields label{
  letter-spacing: -0.05px;
    line-height: 1.4375em;  
    font-weight: 400;
    position: relative;
    display: block;
    text-align: left;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 12px;
    color: rgb(153, 156, 169);
    margin-left: 8px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    padding-top:30px;
    }

.formfields select{
  padding: 12px 16px;
  color: rgb(0, 0, 0);
  background: rgb(244, 244, 252);
  border-radius: 6px;
  box-shadow: rgb(244, 244, 252) 0px 0px 0px 1px inset;
  line-height:1.4375em;
  width:100%;
  border:0px;
}

.formfields input{
  box-shadow: rgb(244, 244, 252) 0px 0px 0px 1px inset;
  padding: 12px 16px;
  color: rgb(0, 0, 0);
  background: rgb(244, 244, 252);
  border-radius: 6px;
  width:100%;
  font-size: 16px;
  letter-spacing: -0.05px;
  line-height: 1.4375em;
  font-family: Commissioner, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  border:0px;
}

.arrowselect {
  
}


input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

textarea{
  border: none;
  width: 100%;
  max-width: 95%;
  margin: 0px;
  line-height: normal;
  box-shadow: none;
  border-radius: 6px;
  min-height: 24px;
  height:120px;
  padding: 12px 16px;
  color: rgb(0, 0, 0);
  background: rgb(244, 244, 252);
  box-shadow: rgb(244, 244, 252) 0px 0px 0px 1px inset;
  font-family: inherit;
}

button{
  width:100%;
  background-color:rgb(22, 211, 179);
  border:0px;
  font-size: 16px;
  padding: 12px 24px;
  font-weight: 800;
  color:white;
  cursor: pointer;
  border-radius:20px;
}
